body{
    background-color: brown;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}
strong{
    text-decoration: blue;
}
h1{
    text-align: center;
    font-style: italic;
    color: blue;
}